gschemas.compiled
*.valid
*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
.*.sw*
/.dirstamp
/src/*.stamp*
/plugins/*.stamp*
/src/jiyuubot
/src/*jiyuubot-api*
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
Makefile
Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build-aux/test-driver
/build-aux/ylwrap
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/data/Makefile.in
/libtool
/so_locations
/src/Makefile.in
/stamp-h1
/tags
/m4
/src/*.c
/plugins/*.c
/src/*.la*
/src/*_la*
/src/*.lo
/plugins/*.la*
/plugins/*_la*
/plugins/*.lo
/src/.libs
/plugins/.libs
/src/*.gir
/src/*.typelib
/config/purple.ini
/config/plugin.ini
/vapi/jiyuubot-api.vapi
/plugins/*.pyc
/plugins/__pycache__
