MPD = True # Enable MPD?
MPD_HOST = "127.0.0.1" # MPD server
MPD_PORT = 6600 # MPD port, 6600 default

IRC = True # connect to IRC?
HOST = "irc.rizon.net" # IRC server
HOME_CHANNEL = "#JiyuuRadio" # IRC Channel
NICK = "JiyuuRadio" # IRC Nick
PORT = 9999 # IRC port, often 9999 for SSL
SSL = True # Use SSL connction?

MUSIC_PATH = "/media/music/Music" # Music folder used by MPD

HTTPD = True # Enable HTTP JSON API?
HTTPD_IP = "127.0.0.1" # IP for HTTP API to listen on
HTTPD_PORT = 7144 # Port for HTTP API

# Outgoing message delay
OUTGOING_DELAY = 300

# module blacklist
MODULE_BLACKLIST = ["bootyhour"]

# service blacklist
SERVICE_BLACKLIST = []
