{
    "IRC": {
        "HOST": "irc.rizon.net",
        "PORT": 9999,
        "SSL": true,
        "NICK": "JiyuuBot",
        "HOME_CHANNEL": "#Jiyuu"
    },
    "MPD": {
        "ENABLED": true,
        "HOST": "127.0.0.1",
        "PORT": 6600
    },
    "MISC": {
        "LOG": true
    }
}
